@{
	ViewData["Title"] = "Home Page";
}

@{
    var isAuthenticated = ViewData["IsAuthenticated"] as bool? ?? false;
}

<div class="text-center">
	 <h2>Welcome </h2>

</div>

<a asp-controller="Expense" asp-action="Create">Create New Expense</a>