
@using Microsoft.AspNetCore.Identity
@using ExpenseTracker.Data;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userName = isAuthenticated ? UserManager.GetUserName(User) : "";
}

    <div class="col text-center">
        <h2>Welcome @userName</h2>
    </div>
<br>

@if (isAuthenticated)
{
    <div class="text-center">
        <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Create New Expense</a>
    </div>


    <div class="text-right">
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post" class="ml-auto">
        <button id="logout" type="submit" class="btn btn-link text-dark border-0">Logout</button>
    </form>
    </div>

}
else
{
    <div class="text-right">
        <form id="loginForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
            <button id="login" type="submit" class="btn btn-primary" >Login</button>
        </form>
    </div>
}

