@model ExpenseTracker.Models.Expense


<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
<br>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<br>
<a asp-controller="Home" asp-action="Index" class="btn btn-link text-dark border-0">Back to Home</a>
